<html>
	<head>
		<% include ../dojoinclude %>
		<script type="text/javascript">
			dojo.addOnLoad(function(){
				dojo.parser.parse(document.getElementById('myform'));
			});
		</script>
		<style>
		table{
		font-size:12px;
		font-weight:normal;
		font-family:Arial;
 		margin:30px;   
		}

		td{
    	padding: 4px;
   		 }
			
		</style>
	</head>
	<body class="soria">
		<form method="GET" action="" dojoType="dijit.form.Form" id="myform">
		
		<div class="ElBox" style="opacity:0.40;locked:0;z-index:-1;border-width:1px;border-radius:20px;-o-border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;border-color:#888;border-style:solid;background-color:rgb(218, 234, 247);background-repeat:no-repeat;filter:alpha(opacity = 50);behavior: url(/css/PIE.htc);width:97%;height:98%;position:absolute;background-position:left top" id="el53081_137aaeb2a398eb59cfe05fa6f1052fc9" > </div>
		<div  style="line-height: 60px;height:65px;width:10%;align:center;font-size: 20px;font-weight:bold;font-style: normal;font-family: arial,helvetica,sans-serif;   text-align: center;    margin-top: 5px;    margin-left: 5px;" id="el53081_137aaeb2a398eb59cfe05fa6f1052fc9" > 
		<% if(typeof action != 'undefined') {%>
				<% if(action == 'delete'){ %>
					Delete User
				<% } else {%>
					View User
				<% } %>
			<% } else {%>
				View User
			<% } %>
		</div>
			<input type="hidden" id="userid" name="userid" value=""/>
			<input type="hidden" id="action" name="action" value=""/>
			

			<table>
				<% if(typeof user != 'undefined') {%>
					<tr>
						<td> User ID: </td>
						<td> <%=user.userid%> </td>
					</tr>
					<tr>
						<td> First Name: </td>
						<td> <%=user.firstname%> </td>
					</tr>					
					<tr>
						<td> Last Name: </td>
						<td> <%=user.lastname%> </td>
					</tr>
					<tr>
						<td> Designation: </td>
						<td> <%=user.designation%> </td>
					</tr>
					<tr>
						<td> Manager: </td>
						<% if(user.manageruserid == null){ %>
							<td> &nbsp; </td>
						<% }else{ %>
							<td> <a href="" onclick="return submitForm('<%=user.managerid%>', 'view')"><%=user.manageruserid%></a> </td>
						<% } %>
					</tr>
					<tr>
						<td> Role: </td>
						<td> <%=user.role%> </td>
					</tr>
					
					<tr  >
					<td align="right" height="7%"> &nbsp; </td>
					<td align="left"  height="7%">&nbsp;  </td>
				</tr>
				
					<% if(user.userid != 'ADMIN'){ %>
						<% if(typeof action != 'undefined') {%>
							<tr>
								<td align="right" colspan="2">
									<% if(action != 'delete') { %>	
										<button data-dojo-type="dijit/form/Button" type="button" id="modifybtn" name="modify" value="Modify" onclick="submitForm('<%=user.id%>','modify')">Modify</button>
									<% } %>
									<button data-dojo-type="dijit/form/Button" type="button" id="deletebtn" name="delete" value="Delete" onclick="submitForm('<%=user.id%>','delete')">Delete</button>
								</td>
							</tr>
						<% } else {%>
							<tr>
								<td align="right" colspan="2">
									<button data-dojo-type="dijit/form/Button" type="button" id="modifybtn" name="modify" value="Modify" onclick="submitForm('<%=user.id%>','modify')">Modify</button>
									<button data-dojo-type="dijit/form/Button" type="button" id="deletebtn" name="delete" value="Delete" onclick="submitForm('<%=user.id%>','delete')">Delete</button>
								</td>
						<% } %>
					<% } %>
				<% } %>	
			</table>
			
		</form>
	</body>
	<script type="text/javascript">
		function submitForm(id, action){
			document.getElementById('userid').value=id;
			document.getElementById('action').value = action;
			
			if(action=='view'){
				window.location.href = '/viewuser?userid='+id+'&action='+action;
			}
			else if(action=='modify'){
				window.location.href = '/modifyuser?userid='+id+'&action='+action;
			}
			else if(action=='delete'){
				if(window.confirm('Are you sure you want to delete the user?')){
					window.location.href = '/deleteuser?userid='+id+'&action='+action;
				}
				else{
					return false;
				}
			}
			return false;
		}
	</script>
</html>