<html>
	<head>
		<% include ../dojoinclude %>
		<style>
		table{
				font-size: 13px;margin:10px;  border-spacing: 0px;font-size: 10pt;font-family: arial,helvetica,sans-serif;cellpadding:"3px";
			}
			
			th{
			text-align: center; color: #000000; font-size: 12px; font-family: Arial; background-color: #6fa8dc; border-color:#000000; width: 0px;"
			}
			td{
    			padding: 3px;
   			 }
			
			tr.even{background-color:#F0F0F0;}
   		 tr.odd{background-color:#DFDFDF;}
		</style>
		<script type="text/javascript">
			dojo.addOnLoad(function(){
				dojo.parser.parse(document.getElementById('myform'));
			});
		</script>
		<script type="text/javascript">
			function enableOrDisableButton(id, projroleid){
				var ele = document.getElementById('user_'+id);
				document.getElementById('projroleid').value=id;
				//alert(projroleid);
				if(ele.checked){
					dijit.byId('modifybtn').setAttribute('disabled', false);
					dijit.byId('deletebtn').setAttribute('disabled', false);
					dijit.byId('viewbtn').setAttribute('disabled', false);
				}
			}
			function submitform(action){
				var frm = document.getElementById('myform');
				document.getElementById('action').value=action;
				if(action=='modify'){
					frm.action="/modifyprojectrole";
				}
				else if(action=='delete'){
					frm.action='/viewprojectrole';
				}
				else if(action='view'){
					frm.action='/viewprojectrole';
				}
				frm.submit();
			}
		</script>
	</head>
	<body class="soria">
		<form method="GET" action="" dojoType="dijit.form.Form" id="myform">
		<div class="ElBox" style="opacity:0.40;locked:0;z-index:-1;border-width:1px;border-radius:20px;-o-border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;border-color:#888;border-style:solid;background-color:rgb(218, 234, 247);background-repeat:no-repeat;filter:alpha(opacity = 50);behavior: url(/css/PIE.htc);width:97%;height:98%;position:absolute;background-position:left top" id="el53081_137aaeb2a398eb59cfe05fa6f1052fc9" > </div>
		<div  style="line-height: 60px;height:65px;width:15%;align:center;font-size: 20px;font-weight:bold;font-style: normal;font-family: arial,helvetica,sans-serif;   text-align: center;    margin-top: 5px;    margin-left: 5px;" id="el53081_137aaeb2a398eb59cfe05fa6f1052fc9" >All Project Roles</div>
			<input type="hidden" id="projroleid" name="projroleid" value=""/>
			<input type="hidden" id="action" name="action" value=""/>
			<table style="margin:10px;  border-spacing: 0px;font-size: 10pt;font-family: arial,helvetica,sans-serif;width: 30%;height:12%">
				<tr>
					<th> &nbsp; </th>
					<th> Role Name </th>
					<th> Description </th>
				</tr>
				<% if(typeof projectroles != 'undefined') {%>
				<% if(projectroles.length == 0) {%>
						<tr>
							<td align="center" colspan="4">No Project Roles Defined</td>							
 						</tr>
 					<% }else{ %>	
					<% for(var i=0; i<projectroles.length; i++){ %>
						<%if(i%2){%>
						<tr class="even">
						<%}else{%>
						<tr class="odd">
						<%}%>
							<td align="right" width="15%"> <input type="radio" id="user_<%=projectroles[i].projroleid%>" name="radio" onchange="enableOrDisableButton('<%=projectroles[i].projroleid%>', '<%=projectroles[i].projroleid%>')" /> </td>
							<td align="left" width="40%"> <%=projectroles[i].projrolename%> </td>
 							<td align="left" width="45%"> <%=projectroles[i].projroledesc %></td>
 						</tr>
					<% } %>
				  <% } %>
				<% } %>
				<tr class="t1" >
					<td align="right" height="7%"> &nbsp; </td>
					<td align="left"  height="7%">&nbsp;  </td>
				</tr>
				<tr class="t1">
					<td align="center" colspan="4"> 
						<button data-dojo-type="dijit/form/Button" type="button" id="modifybtn" name="Modify" value="Modify" disabled onclick="submitform('modify')">Modify</button> &nbsp;
						<button data-dojo-type="dijit/form/Button" type="button" id="viewbtn" name="View" value="View" disabled onclick="submitform('view')">View</button> &nbsp;
						<button data-dojo-type="dijit/form/Button" type="button" id="deletebtn" name="Delete" value="Delete" disabled onclick="submitform('delete')">Delete</button>
					</td>
				</tr>	
			</table>
		</form>
	</body>
</html>