<html>
	<head>
		<% include ../dojoinclude %>
		<script type="text/javascript">
			dojo.addOnLoad(function(){
				dojo.parser.parse(document.getElementById('myform'));
			});
		</script>
		<style type="text/css">
		table{
 			margin:30px;   
		}
		td{
    		padding: 4px;
   		 }
		</style>
	</head>
	<body class="soria">
		<form method="POST" action="/modifytraining" dojoType="dijit.form.Form" id="myform">
			<% if(typeof oldTrainingJson != 'undefined') {%>
				<input type="hidden" id="trainingid" name="trainingid" value="<%=oldTrainingJson.trainingid%>"/>
				<input type="hidden" id="old_trainingname" name="old_trainingname" value="<%=oldTrainingJson.trainingname%>"/>
				<input type="hidden" id="old_trainingdesc" name="old_trainingdesc" value="<%=oldTrainingJson.trainingdesc%>"/>
				<input type="hidden" id="old_scheduleddate" name="old_scheduleddate" value="<%=oldTrainingJson.scheduleddate%>"/>
				<input type="hidden" id="old_duration" name="old_duration" value="<%=oldTrainingJson.duration%>"/>
				<input type="hidden" id="old_openForNomination" name="old_openForNomination" value="<%=oldTrainingJson.openForNomination%>"/>
			<% } else { %>
				<input type="hidden" id="trainingid" name="trainingid" value="<%=training.trainingid%>"/>
				<input type="hidden" id="old_trainingname" name="old_trainingname" value="<%=training.trainingname%>"/>
				<input type="hidden" id="old_trainingdesc" name="old_trainingdesc" value="<%=training.trainingdesc%>"/>
				<input type="hidden" id="old_scheduleddate" name="old_scheduleddate" value="<%=training.scheduleddate%>"/>
				<input type="hidden" id="old_duration" name="old_duration" value="<%=training.duration%>"/>
				<input type="hidden" id="old_openForNomination" name="old_openForNomination" value="<%=training.openForNomination%>"/>
			<% } %>
			
			<div class="ElBox" style="opacity:0.40;locked:0;z-index:-1;border-width:1px;border-radius:20px;-o-border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;border-color:#888;border-style:solid;background-color:rgb(218, 234, 247);background-repeat:no-repeat;filter:alpha(opacity = 50);behavior: url(/css/PIE.htc);width:97%;height:98%;position:absolute;background-position:left top" id="el53081_137aaeb2a398eb59cfe05fa6f1052fc9" > </div>
			<div  style="line-height: 60px;height:65px;width:14%;align:center;font-size: 20px;font-weight:bold;font-style: normal;font-family: arial,helvetica,sans-serif;   text-align: left;    margin-top: 5px;    margin-left: 10px;" id="el53081_137aaeb2a398eb59cfe05fa6f1052fc9" > Modify Training</div>
			
			<div style="line-height: 12px;height:12px;width:14%;font-size: 12px;font-weight:bold;font-style: normal;font-family: arial,helvetica,sans-serif;    margin-top: 5px;    margin-left: 15px;"  id="globalerror_err"></div>
			<table style="margin:10px;  border-spacing: 2px;font-size: 10pt;font-family: arial,helvetica,sans-serif;">
				<tr class="t1">
					<td align="left"> Training Name * </td>
					<td> <input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-props="trim:true, required:true" id="trainingname" name="trainingname"/> </td>
					<td id="trainingname_err"></td>
				</tr>
				<tr class="t2">
					<td align="left" style="vertical-align: top"> Training Description * </td>
					<td> <textarea id="trainingdesc" name="trainingdesc" rows="10" cols="50" data-dojo-type="dijit/form/Textarea" data-dojo-props="trim:true" style="width:400px; height: 100px"></textarea> </td>
					<td id="trainingdesc_err" style="vertical-align: top"></td>
				</tr>
				<tr class="t1">
					<td align="left"> Scheduled Date * </td>
					<td> <input type="text" name="scheduleddate" id="scheduleddate" value="" data-dojo-type="dijit/form/DateTextBox" 
					data-dojo-props="trim:true" constraints="{datePattern:'yyyy-MM-dd'}" invalidMessage="Invalid date yyyy-MM-dd" promptMessage="yyyy-MM-dd"/> </td>
					<td id="scheduleddate_err"></td>
				</tr>
				<tr class="t2">
					<td align="left"> Duration * </td>
					<td> <input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-props="trim:true, required:true" id="duration" name="duration"/> </td>
					<td id="duration_err"></td>
				</tr>
				<tr class="t1">
					<td align="left"> Open For Nomination * </td>
					<td>  
						<input type="radio" name="openForNomination" id="openYes" checked value="Y"/> Yes &nbsp;
						 <input type="radio" name="openForNomination" id="openNo" value="N"/> No  
					</td>
					<td id="duration_err"></td>
				</tr>				
				<tr class="t2">
					<td align="right"> <button data-dojo-type="dijit/form/Button" type="submit" id="submitbutton" name="submitbutton" value="Submit">Modify</button> </td>
					<td align="left"> <button data-dojo-type="dijit/form/Button" type="reset">Reset</button> </td>
				</tr>	
			</table>
			
		</form>
	</body>
	<script type="text/javascript">
			<% if(typeof errorJson != 'undefined') {%>
				function setErrors(){
					<% for(var i=0;i< errorJson.length; i++){ %>
						//alert('<%=errorJson[i].id%>'+'-->'+'<%=errorJson[i].value%>');
						document.getElementById('<%=errorJson[i].id%>_err').innerHTML='<font color="RED"><%=errorJson[i].value%></font>';
					<% } %>
				}
				setErrors();
			<% } %>
			<% if(typeof trainingJson != 'undefined') {%>
				function restoreValues(){
					<% for(var i=0;i< trainingJson.length; i++){ %>
						if(dijit.byId('<%=trainingJson[i].id%>')!=null){
								dijit.byId('<%=trainingJson[i].id%>').setAttribute('value', '<%=trainingJson[i].value%>');
						}
						else{
							var ofn = '<%=trainingJson[i].id%>';
							if(ofn == 'openForNomination'){
								var val = '<%=trainingJson[i].value%>';
								if(val == 'Y')
									document.getElementById('openYes').checked=true;
								else
									document.getElementById('openNo').checked=true;
								
							}else{
								document.getElementById('<%=trainingJson[i].id%>').value='<%=trainingJson[i].value%>';
							}
						}
					<% } %>
				}
				dojo.addOnLoad(restoreValues);
			<% } %>
			<% if(typeof training != 'undefined') { %>
				function setDateValues(){
					var ref = dijit.byId('trainingname');
					ref.setAttribute('value', '<%=training.trainingname%>');
					
					ref = dijit.byId('trainingdesc');
					ref.setAttribute('value', '<%=training.trainingdesc%>');
				
					ref = dijit.byId('scheduleddate');
					ref.setAttribute('value', '<%=training.scheduleddate%>');
					
					ref = dijit.byId('duration');
					ref.setAttribute('value', '<%=training.duration%>');
					
					<% if(training.openForNomination == 'Y'){ %>
						document.getElementById('openYes').checked=true;
					<% } else { %>
						document.getElementById('openNo').checked=true;
					<% } %>
				}
				dojo.addOnLoad(setDateValues);;
			<% } %>
	</script>
</html>