<html>
	<head>
		<% include ../dojoinclude %>
		<script type="text/javascript">
			dojo.addOnLoad(function(){
				dojo.parser.parse(document.getElementById('myform'));
			});
		</script>
		<style type="text/css">
		table{
 			margin:30px;   
		}
		td{
    		padding: 4px;
   		 }
		</style>
	</head>
	<body class="soria">
		<form method="POST" action="/modifycertification" dojoType="dijit.form.Form" id="myform">
			<% if(typeof oldCertificationJson != 'undefined') {%>
				<input type="hidden" id="certificationid" name="certificationid" value="<%=oldCertificationJson.certificationid%>"/>
				<input type="hidden" id="old_certificationname" name="old_certificationname" value="<%=oldCertificationJson.certificationname%>"/>
				<input type="hidden" id="old_certificationdesc" name="old_certificationdesc" value="<%=oldCertificationJson.certificationdesc%>"/>
				<input type="hidden" id="old_certificationddate" name="old_certificationdate" value="<%=oldCertificationJson.certificationdate%>"/>
			<% } else { %>
				<input type="hidden" id="certificationid" name="certificationid" value="<%=certification.certificationid%>"/>
				<input type="hidden" id="old_certificationname" name="old_certificationname" value="<%=certification.certificationname%>"/>
				<input type="hidden" id="old_certificationdesc" name="old_certificationdesc" value="<%=certification.certificationdesc%>"/>
				<input type="hidden" id="old_certificationdate" name="old_certificationdate" value="<%=certification.certificationdate%>"/>
			<% } %>
			
			<div class="ElBox" style="opacity:0.40;locked:0;z-index:-1;border-width:1px;border-radius:20px;-o-border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;border-color:#888;border-style:solid;background-color:rgb(218, 234, 247);background-repeat:no-repeat;filter:alpha(opacity = 50);behavior: url(/css/PIE.htc);width:97%;height:98%;position:absolute;background-position:left top" id="el53081_137aaeb2a398eb59cfe05fa6f1052fc9" > </div>
			<br/> &nbsp;			
			<b> Modify Training</b>
			
			<div id="globalerror_err"></div>
			<table style="margin:10px;  border-spacing: 2px;font-size: 10pt;font-family: arial,helvetica,sans-serif;">
				<tr class="t1">
					<td align="left"> Certification Name * </td>
					<td> <input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-props="trim:true, required:true" id="certificationname" name="certificationname"/> </td>
					<td id="certification_err"></td>
				</tr>
				<tr class="t2">
					<td align="left" style="vertical-align: top"> Certifcation Description * </td>
					<td> <textarea id="certificationdesc" name="certificationdesc" rows="10" cols="50" data-dojo-type="dijit/form/Textarea" data-dojo-props="trim:true" style="width:400px; height: 100px"></textarea> </td>
					<td id="certificationdesc_err" style="vertical-align: top"></td>
				</tr>
				<tr class="t1">
					<td align="left"> Date * </td>
					<td> <input type="text" name="certificationdate" id="certificationdate" value="" data-dojo-type="dijit/form/DateTextBox" 
					data-dojo-props="trim:true" constraints="{datePattern:'yyyy-MM-dd'}" invalidMessage="Invalid date yyyy-MM-dd" promptMessage="yyyy-MM-dd"/> </td>
					<td id="certificationdate_err"></td>
				</tr>		
				<tr class="t2">
					<td align="right"> <button data-dojo-type="dijit/form/Button" type="submit" id="submitbutton" name="submitbutton" value="Submit">Modify</button> </td>
					<td align="left"> <button data-dojo-type="dijit/form/Button" type="reset">Reset</button> </td>
				</tr>	
			</table>
			
		</form>
	</body>
	<script type="text/javascript">
			<% if(typeof errorJson != 'undefined') {%>
				function setErrors(){
					<% for(var i=0;i< errorJson.length; i++){ %>
						//alert('<%=errorJson[i].id%>'+'-->'+'<%=errorJson[i].value%>');
						document.getElementById('<%=errorJson[i].id%>_err').innerHTML='<font color="RED"><%=errorJson[i].value%></font>';
					<% } %>
				}
				setErrors();
			<% } %>
			<% if(typeof certificationJson != 'undefined') {%>
				function restoreValues(){
					<% for(var i=0;i< certificationJson.length; i++){ %>
						if(dijit.byId('<%=certificationJson[i].id%>')!=null){
								dijit.byId('<%=certificationJson[i].id%>').setAttribute('value', '<%=certificationJson[i].value%>');
						}
						else{
							document.getElementById('<%=certificationJson[i].id%>').value='<%=certificationJson[i].value%>';
						}
					<% } %>
				}
				dojo.addOnLoad(restoreValues);
			<% } %>
			<% if(typeof certification != 'undefined') { %>
				function setDateValues(){
					var ref = dijit.byId('certificationname');
					ref.setAttribute('value', '<%=certification.certificationname%>');
					
					ref = dijit.byId('certificationdesc');
					ref.setAttribute('value', '<%=certification.certificationdesc%>');
				
					ref = dijit.byId('certificationdate');
					ref.setAttribute('value', '<%=certification.certificationdate%>');
				}
				dojo.addOnLoad(setDateValues);;
			<% } %>
	</script>
</html>