<html>
	<head>
		<% include ../dojoinclude %>
		<script type="text/javascript">
			dojo.addOnLoad(function(){
				dojo.parser.parse(document.getElementById('myform'));
			});
		</script>
		<style type="text/css">
		table{
 		margin:30px;   
		}
		td{
    	padding: 4px;
   		 }
		</style>
	</head>
	<body class="soria">
		<form method="post" action="/addappreciation" id="myform"  onsubmit="return validateForm()">
			<div class="ElBox" style="opacity:0.40;locked:0;z-index:-1;border-width:1px;border-radius:20px;-o-border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;border-color:#888;border-style:solid;background-color:rgb(218, 234, 247);background-repeat:no-repeat;filter:alpha(opacity = 50);behavior: url(/css/PIE.htc);width:97%;height:98%;position:absolute;background-position:left top" id="el53081_137aaeb2a398eb59cfe05fa6f1052fc9" > </div>
		   	<br/> &nbsp;
		   	<b> Add  Appreciation</b>
			<table style="margin:10px;  border-spacing: 2px;font-size: 10pt;font-family: arial,helvetica,sans-serif;">
				<tr class="t1">
					<td align="left"> Project Name * </td>
					<td> <select id="projname" name="projname" width="100%" style="width: 100%" onChange="getUsersByProjectId(this);" ><option value="">--select--</option><% for(var i=0; i<projects.length; i++) {%><option value="<%=projects[i].projid%>" ><%=projects[i].projname%></option><% } %></select> </td>
					<td id="projname_err"></td>
				</tr>
				<tr class="t1">
					<td align="left"> User * </td>
					<td> <select id="user" name="user" width="100%" style="width: 100%"  ><option value="">--select--</option></select> </td>
					<td id="user_err"></td>
				</tr>
				<tr class="t2">
					<td align="left" style="vertical-align: top"> Appreciation * </td>
					<td> <textarea id="appreciationDesc" name="appreciationDesc" rows="10" cols="50" data-dojo-type="dijit/form/Textarea" data-dojo-props="trim:true" style="width:400px; height: 100px"></textarea> </td>
					<td id="appreciationDesc_err" style="vertical-align: top"></td>
				</tr>
				<tr class="t1">
					<td align="left"> Received By * </td>
					<td> <input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-props="trim:true, required:true" id="receivedBy" name="receivedBy" /> </td> 
					<td id="receivedBy_err"></td>
				</tr>
				<tr class="t1">
					<td align="left"> Received Date * </td>
					<td> <input type="text" name="receiveDate" id="receiveDate" value="" data-dojo-type="dijit/form/DateTextBox" 
					data-dojo-props="trim:true" constraints="{datePattern:'yyyy-MM-dd'}" invalidMessage="Invalid date yyyy-MM-dd" promptMessage="yyyy-MM-dd"/> </td>
					<td id="receiveDate_err"></td>
				</tr>
				
				<tr class="t1">				
					<td align="right"> <button data-dojo-type="dijit/form/Button" type="submit" name="submitbutton" id="submitbutton" value="Submit">Submit</button> </td>
					<td align="left"> <button data-dojo-type="dijit/form/Button" type="reset">Reset</button> </td>
				</tr>	
			</table>
		</form>
	</body>
	<script type="text/javascript">
			<% if(typeof errorJson != 'undefined') {%>
				function setErrors(){
					<% for(var i=0;i< errorJson.length; i++){ %>
						//alert('<%=errorJson[i].id%>'+'-->'+'<%=errorJson[i].value%>');
						document.getElementById('<%=errorJson[i].id%>_err').innerHTML='<font color="RED"><%=errorJson[i].value%></font>';
					<% } %>
				}
				setErrors();
			<% } %>
			<% if(typeof projectJson != 'undefined') {%>
				function restoreValues(){
					<% for(var i=0;i< projectJson.length; i++){ %>
						//alert('<%=projectJson[i].id%>'+'-->'+'<%=projectJson[i].value%>');
						document.getElementById('<%=projectJson[i].id%>').value='<%=projectJson[i].value%>';
					<% } %>
				}
				dojo.addOnLoad(restoreValues);
			<% } %>
			
			function getUsersByProjectId(sel){
			var projectId = sel.value;
			dojo.xhrPost({
					url: "/getUsersByProjectId",
					timeout: 2000,
					content: {
				        projectid: projectId
				    },
				     handleAs: "json",
				    load: function(newContent) {
				   // alert(newContent.users.length);
				     var x= document.getElementById('user');
				     x.innerHTML = '';
				      for(var i=0;i<newContent.users.length; i++) {
				      var option=document.createElement("option");
				      	option.value=newContent.users[i].id;
						option.text=newContent.users[i].firstname + ' ' +newContent.users[i].lastname;
							try
  							{
  							// for IE earlier than version 8
 							 x.add(option,x.options[null]);
 							 }
							catch (e)
 							 {
 							 x.add(option,null);
  							}
  							}
				      
				      
				     
				    },
				    error: function(err) {
				    	alert('Error ...'+err);
				    }
				});
			
			
			}
			
			function validateForm(){
			document.getElementById('projname_err').innerHTML ='';
			document.getElementById('user_err').innerHTML='';
			document.getElementById('appreciationDesc_err').innerHTML='';
			document.getElementById('receiveDate_err').innerHTML='';
			
			var projectSel = document.getElementById('projname');
			var userSel = document.getElementById('user');
			var receiveDate = document.getElementById('receiveDate');
			
			if(projectSel.options[projectSel.selectedIndex].value == ""){
			document.getElementById('projname_err').innerHTML = '<font color="RED">Please select the Project.</font>';
			return false;
			}
			if(userSel.options[userSel.selectedIndex].value == ""){
			document.getElementById('user_err').innerHTML = '<font color="RED">Please select the User.</font>';
			return false;
			}
			var apprDesc = document.getElementById('appreciationDesc');
			if(apprDesc.value==''){
			document.getElementById('appreciationDesc_err').innerHTML = '<font color="RED">Please give the appreciation description.</font>';
			return false;
			}
			
			var receiveDate = document.getElementById('receiveDate');
			if(receiveDate.value==''){
      		 document.getElementById('receiveDate_err').innerHTML = '<font color="RED">Please select the Date.</font>';
      		 return false;
			}
			}
	</script>
</html>